@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
  margin: 0;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Montserrat';
}

.container {
  backround: #DADADA;
}

.container header {
  background-color: #DADADA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 50px;
}

.container header .logo {
  width: 10px;
}

.container header nav {
  justify-self: end;
}

.container header nav ul {
  list-style-type: none;
  margin: 0;
}

.container header nav ul li {
  display: inline;
}

.container header nav ul li a {
  padding: 8px 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

section button {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: bolder;
  padding: 0.5rem 1.5rem;
  background-color: #009ac9;
  border: 1px solid transparent;
  color: #ffffff;
  -webkit-border-radius: 3px;
  border-radius: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section button:hover {
  background-color: #FD494A;
}

.btn {
  background: black;
  padding: 15px 60px 15px 30px;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 1em;
  clip-path: polygon(0 0, 100% 0, 79% 100%, 0% 100%);
}

.hover {
  width: 20px;
  height: 60px;
  padding-left: 20px;
  position: relative;
  left: 43%;

}

.hover p {
  border-bottom: 6px solid red;
  background-color: lightgrey;
  padding: 10px;
  text-align: center;
  margin-left: auto;
margin-right: auto;


height: 70px;
width: 150px;

}

.gatherings {
  text-align: left;
  padding-left: 2.5em;
  color: black;
  font-size: 30px;
}

section {
  padding-left: 5em;
  padding-right: 5em;
}

.btn {
  background: #000;
  padding: 15px 60px 15px 30px;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  margin-top: 1.2em;
  display: inline-block;
  margin-bottom: 1em;
  -webkit-clip-path: polygon(0 0, 100% 0, 79% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 79% 100%, 0% 100%);
}

.gallery {
  padding-top: 3em;
}

.gallery svg {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.wa {
  fill: #a9a9a9;
}

.wa:hover {
  fill: #22aa44;
}

.qld {
  fill: #a9a9a9;
}

.qld:hover {
  fill: #22aa44;
}

.vic {
  fill: #a9a9a9;
}

.vic:hover {
  fill: red;
}

.nsw {
  fill: orange;
}

.nsw:hover {
  fill: #22aa44;
}

.sa {
  fill: #a9a9a9;
}

.sa:hover {
  fill: red;
}

.nt {
  fill: #a9a9a9;
}

.nt:hover {
  fill: #22aa44;
}

.tas {
  fill: #a9a9a9;
}

.tas:hover {
  fill: #22aa44;
}

.act {
  fill: #a9a9a9;
}

.act:hover {
  fill: #22aa44;
}

text {
  display: none;
  font-size: 8px;
}

.wa:hover~.wa-text {
  display: block;
}

.qld:hover~.qld-text {
  display: block;
}

.vic:hover~.vic-text {
  display: block;
}

.sa:hover~.sa-text {
  display: block;
}

.nt:hover~.nt-text {
  display: block;
}

.tas:hover~.tas-text {
  display: block;
}

.act:hover~.act-text {
  display: block;
}
